* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
}
// logo圖
.container-fluid {
  img {
    width: 32px;
    height: 32px;
  }
}
// 開頭頁
#card {
  margin-top: 30px;
  margin-left: 180px auto 10px;
  padding-left: 50px 20px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 250px auto;
  color: white;
  background-image: url(./img/3人行.JPG);
  height: 100vh;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 150px -155px;
}
// 導覽頁
span {
  font-size: 22px;
  background: #8d8d8d;
  padding: 5px 8px;
  border-radius: 5px;
  vertical-align: 8px;
  color: #9fa8a88c;
}
// 開頭頁
#content {
  padding: 50px 80px;
  margin-bottom: -20px;
  margin-left: 900px;


 h1 {
    margin-left: 130px;
    padding-left: 130px;
    font-size: 80px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #000;
  }


}

#title {
  font-size: 180px;
  margin-top: 80px;
  color: #f0ffff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 15px;
  padding-left: 15px;
  opacity: 0.83;
  font-weight: 600;
}
body {
  background-image: url("paper.gif");
}

// 地圖
#map {
  padding-left: 350px;
  margin-left: 350px;
  text-align: center;

  img {
    height: 700px;
    width: 750px;
  }
}
// 分隔線
hr {
  width: 1500px;
  margin: 0 auto;
  margin-top: -1px;
  padding-top: -1px;
}

// 介紹頁
#about {
  margin-left: 265px;


  img {
    width: 850px;
    height: 600px;

  }
}
#abouth1{
h1{
  padding: 25px 80px;
  margin-bottom: -100px;
  margin-left: 850px;
  font-size: 50px;
  }
}
